/* GSHSS Specific CSS. */

/* Variables.  */
$page-background: white;
$block-background: #dfe9f4;
$button-menu-background: #4b99c7;
$button-first-background: #54479C;
$button-background: #3c628f;
$button-text: white;

/* Load mixins. */
@import "mixins.scss";

/**
 * padding/margin: top bottom right left;
 */

// No extra margin on a logo-only header.
.logo .header.without-ht {
  margin: 0px;
  overflow: visible;
}

// Logo header positioning override.
.logo .header .hgroup {
  margin: -2px 0 0 -20px;
}

/* Feature menu. */
#feature-menu {
  margin-left: 0px;
  padding-left: 0px;	

  ul {
	margin-left: 0px;
	padding-left: 0px;
  }  

  ul > li {
    float: left;
	
    a {
      @include button($button-menu-background, $button-text);
    }
    &.first {
      a {
        @include button($button-first-background, $button-text);
		margin-left: -7px;
      }
    }
  }
}

div#site-search
{
	float:right;
	margin-top: 14px;

	input#search-input
	{
		float:right;
		width: 40%;
		padding: .3em 1em .3em;
	}

	a#search-button
	{
		@include button($button-menu-background, $button-text);
		float:right;
		margin-left: 10px;
	}
}


body.html.home,
body.html.blue {
  &.front,
  &.not-front {
    background: url('../images/back-gradient.png') #036;
    background-repeat: repeat-x;
  }
}

#content-wrap {
  background: $page-background;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

#admin-menu {
  z-index: 10000;
}

/* Blocks. */
div.the_nav {
  margin-left: 0px;
  margin-right: 20px;

  div.block {
    background: $block-background;
    margin-left: 5px;
    padding-left: 5px;
    margin-top: 1em;
    margin-right: -2px;	// Visially align due to the shadow and rounded corners.
    @include rounded(5px);
    @include box-shadow(0, 1px, 2px, darken($block-background, 15%));
  }
}

/* Front page Grid View. */
.view-id-home {
  table {
    tbody {
      tr, tr:nth-child(2n+1), th {
        background: none;
        border: 0px;
        padding: 0px;
      }
      td {
        padding: 0 10px 10px 0;
        border: none;
      }
    }
  }
  .views-field-view-node a {
     @include button($button-background, $button-text);

     &:after {
       margin-left: 0.3em;
       font-size: 90%;
       content: "  >";
       color: #999;
    }
  }
}

#main-content .view-id-home h3 {
  margin-top: 0px;
}

a.button {
   @include button($button-background, $button-text);

   &:after {
     margin-left: 0.3em;
     font-size: 90%;
     content: "  >";
     color: #999;
  }
}
